@font-face {
    font-family: "decorativa";
    src: url(./CourierPrime-Regular.ttf);
}

@font-face {
    font-family: "padrao";
    src: url(./OpenSans-Regular.ttf);
}

@font-face {
    font-family: "negrito";
    src: url(./Yrsa-Regular.ttf);
}

$fonte-decorativa: "decorativa";
$fonte-padrao: "padrao";
$fonte-negrito: "negrito";