@import "./Cores";
@import "../fonts/Fontes.scss";
#conteudoHome{
   
    padding: 0px 0px 796px 220px;
    background-color: $cor-fundo-item;
   
} h3{
    text-align: center;
    font-family: $fonte-lista;
    }
    