@import '../Cores.scss';
@import '../../fonts/Fontes.scss';


.conteiner {
padding:0px 10px;


h2 {
    color:$cor-titulo;
    font-family: $fonte-principal;
    padding-left: 10px;
    }

    #mensagemNenhumaLista {
        color: $cor-titulo;
        font-family: $fonte-principal;
        text-align: center;
        margin-top: 40px;

    }

    #listagem{
        margin: 5px;
        

        .item {
                text-align: center;
                font-family: $fonte-principal;
                color:$cor-titulo;
                background-color: $cor-fundo-item;
                padding: 25px;
                border-radius: 5px;
                margin-bottom: 20px;
        }
    }
    #areaBotao{
        margin: 5px;

        #botaoNovaLista{
            width: 40px;
            float: right;
            background-color: $cor-menu;
            border-radius: 100%;
        }
    }
}


#formNovaLista{
    padding: 10px;
    
    input {
    display: block;
    margin: auto;

    &[type=text] {
        width:80%;
        height: 30px;
        font-size: 100%;
        border:1px solid green;
        border-radius: 5px;
        margin-bottom: 20px;
        font-family: $fonte-principal; 
        padding:10px 5px;
    }

    &[type=submit] {
        width: 50%;
        padding: 20px;
        background-color: $cor-menu;
        color: white;
        border-radius: 7px;
        font-size: 120%;   
        font-family: $fonte-principal; 
    }

    }
   
}