@font-face {
    font-family: 'item lista';
    src: url(./FiraSansCondensed-MediumItalic.ttf);
}

@font-face {
    font-family: 'principal';
    src: url(./Rajdhani-Medium.ttf);
}

$fonte-lista: 'item lista';
$fonte-principal: 'principal';